
.workspace {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workspaceSelect .navLink {
    background-color: #049b4c;
}

.workspaceSelect .navLink.active {
    background-color: #00e372;
}

.workspaceSelect .navLink:hover {
    background-color: #1fff8c;
}